@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
body {
	font-size: 16px;
	font-family: sans-serif;
	color: #026c80;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 0px;
	background: #f1eae0;

}
h1{
    text-indent: 0em;
    text-align: center;
    font-size: 20px;
}
h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}

/*　↓　ヘッダー部分装飾*/
header {
    background-image: url(images/whiteheader.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    height: 400px;
    width: 2000px;   
    margin-left: 0px;
}

/*　↓　本体装飾*/
body {
    
}
